[submodule "create-repository-check-operation-of-dispatch-events"]
	path = create-repository-check-operation-of-dispatch-events
	url = https://github.com/kamegoro/create-repository-check-operation-of-dispatch-events.git
